- content_for :breadcrumb do
  - cache ['campaign-url-breadcrumb', @campaign] do
    = render 'breadcrumb'

- content_for :sidebar_nav do
  - cache ['main_sidebar_nav', @current_account] do
    = render 'shared/main_sidebar_nav'

- cache ['account-campaign-urls-show', @campaign_url] do
  #campaign-urls-show
    .row
      .col-md-6
        .card.card-accent-success
          .card-header
            Campaign URL
          .card-block
            %p
              %b Campaign target:
              = @campaign_url.campaign_target
            %p
              %b Campaign source:
              = @campaign_url.campaign_source
            %p
              %b Campaign ad:
              = @campaign_url.campaign_ad
            %p
              %b Group:
              = @campaign_url.group
            %p
              %b Url:
              = @campaign_url.url

          .card-footer
            = link_to 'Edit', edit_account_campaign_campaign_url_path(@campaign.account, @campaign, @campaign_url)
            \|
            = link_to 'Back', account_campaign_path(@campaign.account, @campaign)
