- content_for :breadcrumb do
  - cache ['campaign-target-breadcrumb', @campaign] do
    = render 'breadcrumb'

- content_for :sidebar_nav do
  - cache ['main_sidebar_nav', @current_account] do
    = render 'shared/main_sidebar_nav'


#campaign-targets-edit
  .row
    .col-md-12
      .card.card-accent-success
        .card-header
          Campaign Target
        .card-block
          = render 'form'
        .card-footer
          = link_to 'Show', account_campaign_campaign_target_path(@campaign.account, @campaign, @campaign_target)
          \|
          = link_to 'Back', account_campaign_path(@campaign.account, @campaign)
