- content_for :breadcrumb do
  - cache ['campaign-ad-breadcrumb', @campaign] do
    = render 'breadcrumb'

- content_for :sidebar_nav do
  - cache ['main_sidebar_nav', @current_account] do
    = render 'shared/main_sidebar_nav'

- cache ['account-campaign-ads-show', @campaign_ad] do
  #campaign-ads-show
    .row
      .col-md-6
        .card.card-accent-success
          .card-header
            Campaign Ad
          .card-block
            %p
              %b Name:
              = @campaign_ad.name

          .card-footer
            = link_to 'Edit', edit_account_campaign_campaign_ad_path(@campaign.account, @campaign, @campaign_ad)
            \|
            = link_to 'Back', account_campaign_campaign_ads_path(@campaign.account, @campaign)
